<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="laptop" class="com.vj.Laptop" scope="singleton">
        <property name="brand" value="HP"></property> <!-- Value attribute for primitive variable -->
        <property name="ssd" ref="ssdBean"></property> <!-- ref attribute for reference variable -->
    </bean> <!--scope->singleton or prototype -->
    <bean id="ssdBean" class="com.vj.Ssd"></bean>
</beans>