<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="emp" class="com.vj.Employee" scope="prototype" autowire="byType">
        <property name="id" value="699"/>
<!--        <property name="com" ref="laptop"/>-->
    </bean>
    <bean id="emp2" class="com.vj.Employee" scope="prototype">
        <property name="id" value="700"/>
        <property name="com" ref="desktop"/>
    </bean>

    <bean id="laptop" class="com.vj.Laptop" scope="singleton" autowire="byName">
        <property name="brand" value="HP"/> <!-- Value attribute for primitive variable -->
<!--        <property name="ssd" ref="ssdBean"/>&lt;!&ndash; ref attribute for reference variable &ndash;&gt;-->
        <!--<constructor-arg index="0" value="2 Years"/>-->
    </bean> <!--scope->singleton or prototype -->
    <bean id="ssd" class="com.vj.Ssd"/>
    <bean id="desktop" class="com.vj.Desktop" primary="true" lazy-init="true"/>
</beans>